button{
    width:10rem;
    height:3rem;
    border-radius: .8rem;
    border:none;

}
.submit{
    background-color: orange;
}
.button-primary{
    width:15rem;
    height:4rem;
    background-color: purple;
}