.edit_shop_container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    min-height:100vh;
}
.add_item{
    background-color: white;
    width:15rem;
    height:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.add_item:hover{
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
.edit_shop_container{
flex-direction: column;
align-items: center;
} 
}