.home_container{
    display:flex;
    justify-content:center;
}

.home_nav_panel{
    display:flex;
    flex-direction: column;
    margin-top:5rem;
    width:25rem;
    height:25rem;

    justify-content: center;
    align-items: center; 
    gap: 3rem;
}     
