.home_container{
display:flex;
justify-content: center;
}
.login_panel{
display:flex;
flex-direction: column;
align-items: center;
margin-top:5rem;
gap:1rem;
background-color: white;
padding:1rem 3rem 0rem 3rem;
height:20rem;
}
@media screen and (min-width:700px){
    .login_panel{
        padding:1rem 10rem 0rem 10rem;
    }
}