.item_container{
    display:flex;
    flex-direction: column;
    text-align: center;
}
img{
    max-width: 20rem;
}
.close_icon{
    width: 2rem;
    transform:translate(0px,20px);
}
.close_icon:hover{
    cursor:pointer;
}
.edit_item_options{
    display:grid;
    grid-template-columns: 10% 80% 10%;
}

.col2{
    grid-column: 2;
}
.checkmarkIcon{
width: 2rem;

}
.checkmarkIcon:hover{
    cursor:pointer;
}
.title_check{
    transform:translate(0px,20px)
}
.price_check {
width:2rem;
transform:translate(0px,20px)

}
.price{
    margin-top:2rem;
}
